# Kaggle Titanic Dataset Challenge – Train

_created by Austin Poor_

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
import sys
from pathlib import Path

WORK_DIR = Path("..")
SCRIPT_DIR = WORK_DIR / "scripts"
DATA_DIR = WORK_DIR / "data"
MODEL_DIR = WORK_DIR / "models"

# Add the script directory to python's path
# so I can import code from `scripts/`
sys.path.append(str(SCRIPT_DIR.resolve()))

list(DATA_DIR.glob("*"))

[PosixPath('../data/test.csv'),
 PosixPath('../data/train.csv'),
 PosixPath('../data/.ipynb_checkpoints'),
 PosixPath('../data/gender_submission.csv'),
 PosixPath('../data/.gitinclude')]

In [3]:
import preprocess

In [4]:
df = preprocess.load_df(DATA_DIR / "train.csv")
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,IsCabinNA,IsAgeNA,Sex_male,Embarked_Q,...,CabinGroup_D,CabinGroup_E,CabinGroup_F,CabinGroup_G,CabinGroup_T,TicketBase_0,TicketBase_1,TicketBase_2,TicketBase_3,TicketBase_4
0,0,3,22.0,1,0,7.2500,True,False,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,False,False,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,3,26.0,0,0,7.9250,True,False,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,35.0,1,0,53.1000,False,False,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,3,35.0,0,0,8.0500,True,False,1,0,...,0,0,0,0,0,1,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    int64
 1   Pclass        891 non-null    int64
 2   Age           891 non-null    float64
 3   SibSp         891 non-null    int64
 4   Parch         891 non-null    int64
 5   Fare          891 non-null    float64
 6   IsCabinNA     891 non-null    bool
 7   IsAgeNA       891 non-null    bool
 8   Sex_male      891 non-null    uint8
 9   Embarked_Q    891 non-null    uint8
 10  Embarked_S    891 non-null    uint8
 11  CabinGroup_B  891 non-null    uint8
 12  CabinGroup_C  891 non-null    uint8
 13  CabinGroup_D  891 non-null    uint8
 14  CabinGroup_E  891 non-null    uint8
 15  CabinGroup_F  891 non-null    uint8
 16  CabinGroup_G  891 non-null    uint8
 17  CabinGroup_T  891 non-null    uint8
 18  TicketBase_0  891 non-null    uint8
 19  TicketBase_1  891 non-null    uint8
 20  TicketBase_2  891 non-null    uint8
 21  TicketBase_3  891 non-null    uint8
 22  TicketBase_4  891 non-null    uint8
dtypes: bool(2), float64(2), int64(4), uint8(15)
memory usage: 56.7 KB

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import