# Kaggle Titanic Dataset Challenge – Predict

_created by Austin Poor_

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
import sys
from pathlib import Path
from datetime import datetime

WORK_DIR = Path("..")
SCRIPT_DIR = WORK_DIR / "scripts"
DATA_DIR = WORK_DIR / "data"
MODEL_DIR = WORK_DIR / "models"
PREDICTION_DIR = WORK_DIR / "predictions"

# Add the script directory to python's path
# so I can import code from `scripts/`
sys.path.append(str(SCRIPT_DIR.resolve()))

list(DATA_DIR.glob("*"))

[PosixPath('../data/test.csv'),
 PosixPath('../data/train.csv'),
 PosixPath('../data/.ipynb_checkpoints'),
 PosixPath('../data/gender_submission.csv'),
 PosixPath('../data/.gitinclude')]

In [3]:
import preprocess

In [4]:
df, pid = preprocess.load_df(DATA_DIR / "test.csv",True)

df.head()

Adding column: CabinGroup_T

,Pclass,Age,SibSp,Parch,Fare,IsCabinNA,IsAgeNA,Sex_male,Embarked_Q,Embarked_S,...,CabinGroup_D,CabinGroup_E,CabinGroup_F,CabinGroup_G,CabinGroup_T,TicketBase_0,TicketBase_1,TicketBase_2,TicketBase_3,TicketBase_4
0,3,34.5,0,0,7.8292,True,False,1,1,0,...,0,0,0,0,0,1,0,0,0,0
1,3,47.0,1,0,7.0000,True,False,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,2,62.0,0,0,9.6875,True,False,1,1,0,...,0,0,0,0,0,1,0,0,0,0
3,3,27.0,0,0,8.6625,True,False,1,0,1,...,0,0,0,0,0,1,0,0,0,0
4,3,22.0,1,1,12.2875,True,False,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [5]:
pid.head()

0    892
1    893
2    894
3    895
4    896
Name: PassengerId, dtype: int64

In [6]:
import joblib

In [7]:
model_path = MODEL_DIR / "xgboost_20210209-224956_auc0.84.gz"

In [8]:
with open(model_path,"rb") as f:
    model = joblib.load(f)
model

XGBClassifier(alpha=0, base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, eta=0.2, gamma=0.5,
              gpu_id=-1, importance_type='gain', interaction_constraints='',
              lambda=0.1, learning_rate=0.200000003, max_delta_step=0,
              max_depth=3, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=1,
              num_parallel_tree=1, random_state=0, reg_alpha=0,
              reg_lambda=0.100000001, scale_pos_weight=1, subsample=1.0,
              tree_method='exact', validate_parameters=1, verbose=0,
              verbosity=None)

In [9]:
predictions = pd.DataFrame({
    "PassengerId": pid,
    "Survived": model.predict(df)
})
predictions.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [10]:
timestamp = datetime.now().strftime("%Y%m%d%H%M%S")
predictions.to_csv(
    PREDICTION_DIR / f"apoor-titanic-predictions-{timestamp}.csv",
    index=False
)